In [ ]:
import pandas as pd
from datetime import datetime

In [2]:
TWEETS_812A_JAN = "data/tweets/812A_2019_JAN_2KM.csv"
TWEETS_812A_FEV = "data/tweets/812A_2019_FEV_2KM.csv"
TWEETS_812A_MAR = "data/tweets/812A_2019_MAR_2KM.csv"
TWEETS_833A = "data/tweets/833A_2019_2KM.csv"

In [41]:
RAIN_GAUGE_CODES = ["355030812A", "355030833A"]
RAIN_GAUGES_JAN = "data/rain_gauges/data1.csv"
RAIN_GAUGES_FEV = "data/rain_gauges/data2.csv"
RAIN_GAUGES_MAR = "data/rain_gauges/data3.csv"

In [3]:
KEYWORDS = ["chuva", "chove", "chuvoso", "chuvosa", "chuvarada", 
            "alagamento", "alagou", "inundação", "inundada", "enxurrada",
            "rio transbordou", "córrego transbordou", "rio saiu da calha", 
            "córrego saiu da calha", "deslizamento", "escorregamento", "queda de barreira"]

## Time range creation

In [4]:
DAYS_RANGE = datetime(2019, 4, 1) - datetime(2019, 1, 1) 
TIME_PERIOD = DAYS_RANGE.days * 24 * 6

In [54]:
begin_date = datetime.strptime("01-01-2019", "%d-%m-%Y")

In [55]:
date_range = pd.date_range(begin_date, periods=TIME_PERIOD, freq="10min")

## Rain Gauge Data

In [44]:
rain_gauges_jan = pd.read_csv(RAIN_GAUGES_JAN, sep=";", index_col=False)
rain_gauges_fev = pd.read_csv(RAIN_GAUGES_FEV, sep=";", index_col=False)
rain_gauges_mar = pd.read_csv(RAIN_GAUGES_MAR, sep=";", index_col=False)

In [47]:
rain_gauges = pd.concat([rain_gauges_jan, rain_gauges_fev, rain_gauges_mar])

In [49]:
filtered_rain_gauges = rain_gauges[rain_gauges["codEstacao"].isin(RAIN_GAUGE_CODES)]

In [57]:
filtered_rain_gauges[["codEstacao", "datahora", "valorMedida"]]

       codEstacao               datahora valorMedida
7267   355030812A  2019-01-01 00:20:00.0        0,00
7268   355030812A  2019-01-01 01:20:00.0        0,00
7269   355030812A  2019-01-01 02:20:00.0        0,00
7270   355030812A  2019-01-01 03:20:00.0        0,00
7271   355030812A  2019-01-01 04:20:00.0        0,00
...           ...                    ...         ...
22028  355030833A  2019-03-31 19:50:00.0        0,00
22029  355030833A  2019-03-31 20:50:00.0        0,00
22030  355030833A  2019-03-31 21:50:00.0        0,00
22031  355030833A  2019-03-31 22:50:00.0        0,00
22032  355030833A  2019-03-31 23:50:00.0        0,00

[9568 rows x 3 columns]

## Tweet data

In [5]:
tweets_812A_jan = pd.read_csv(TWEETS_812A_JAN)
tweets_812A_fev = pd.read_csv(TWEETS_812A_FEV)
tweets_812_mar = pd.read_csv(TWEETS_812A_MAR)
tweets_812 = pd.concat([tweets_812A_jan, tweets_812A_fev, tweets_812_mar])

In [6]:
tweets_833 = pd.read_csv(TWEETS_833A)

In [7]:
tweets = pd.concat([tweets_812, tweets_833])

In [8]:
tweet_data = tweets[["date", "text"]]

In [9]:
pattern = "|".join(KEYWORDS)

In [10]:
filtered_data = tweet_data[tweet_data["text"].str.contains(pattern, case=False, na=False)]